node_modules
dist
build
coverage
.turbo
.next
*.log
.DS_Store
.env
.env.local
.env.*.local
*.tsbuildinfo
.vitepress/cache
.vitepress/dist
.vscode
scrapnotes
.temp
.tmp-tango-*
.tango-migrations-cli-*
docs/.vitepress/cache
packages/**/*.d.ts